PORT=3000
CORS_ORIGIN=http://localhost:4200
JWT_SECRET=replace-with-a-long-random-secret
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=
LDAP_URL=
LDAP_BASE_DN=
LDAP_DOMAIN=dgac.gob.gt
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=
LDAP_USER_SEARCH_FILTER=(&(|(mail={{username}})(userPrincipalName={{username}})(sAMAccountName={{accountName}}))(objectClass=person))
